<mat-toolbar class="menuGradient menuShadow">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span style="margin-left: 40px;">
      Incarichi CU
  </span>
  <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav="matSidenav">

      <div class="links">
        <a (click)="goToIncarichi(); sidenav.close()" mat-button>Incarichi</a>
        <a (click)="test(); sidenav.close()" mat-button>Logout</a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
